@import "tailwindcss";
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}


@theme {
    --color-Cyan: hsl(180, 66%, 49%);
    --color-Dark-Violet: hsl(257, 27%, 26%);
    --color-Red: hsl(0, 87%, 67%);
    --color-Gray: hsl(0, 0%, 75%);
    --color-Grayish-Violet: hsl(257, 7%, 63%);
    --color-Very-Dark-Blue: hsl(255, 11%, 22%);
    --color-Very-Dark-Violet: hsl(260, 8%, 14%);
}
